<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>

  </head>
  <body class="container">

    <header>
        <% include ../partials/header %>
    </header>
    
  
          <main role="main" class=" col-lg-10 px-4 mt-5">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
              <h1 class="h2">Dashboard</h1>
              <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group mr-2">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
                </div>
                <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar">
                    <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                    <line x1="16" y1="2" x2="16" y2="6"></line>
                    <line x1="8" y1="2" x2="8" y2="6"></line>
                    <line x1="3" y1="10" x2="21" y2="10"></line>
                  </svg>
                  This week
                </button>
    
              </div>
            </div>
            <div class="container">
              <div class="row" >
                <div class ="col-md" style="position: relative; height:15vh; width:30vw">
                <canvas  id="myChart" width="300" height="300"></canvas>
                </div>
                <div class="col-md" style="position: relative; height:15vh; width:30vw">
                <canvas  id="myBarChart" width="300" height="300"></canvas>
                </div>

              </div>
            </div>
             
              <!-- <div class="col chart-container" style="position: relative; height:15vh; width:30vw">
                <canvas id="myBarChart" width="400" height="400"></canvas>
              </div>
     -->
    
    
          </main>
    

    
    <footer>
        <%  include ../partials/footer %>
        <script src="./javascripts/pie.js"></script>
        <script src="./javascripts/bar.js"></script>
        <script>
          $('#home-nav').addClass('active');
        </script>
    </footer>
    
</body>
</html>
